<mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>EDirect Test</span>

        <button mat-button
            [disabled]="(progressBar$ | async)"
            (click)="logout()">
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
                <fa-icon icon="sign-out-alt"></fa-icon>
                <span>Logout</span>
            </div>
        </button>
    </div>
</mat-toolbar>