<div fxLayout="column" fxLayoutAlign="start stretch" flexLayoutGap="10px">
    <div id="body" fxLayout="row" fxLayoutAlign="center stretch">
        <app-new-project-card>
        </app-new-project-card>
    </div>
    <ng-container *ngIf="(projects$ | async) as mappedProjects">
        <ng-container *ngIf="mappedProjects.projects.length > 0; else noProjects">
            <div id="project-list" fxLayout="row wrap" fxLayoutAlign="center center">
                <ng-container *ngFor="let project of mappedProjects.projects">
                    <app-project-card [project]="project">
                    </app-project-card>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #noProjects>
            <div id="no-project" fxLayout="row" fxLayoutAlign="center stretch">
                <app-no-project></app-no-project>
            </div>
        </ng-template>
    </ng-container>
</div>