<button mat-raised-button
    (click)="onClick()"
    [color]="buttonColor"
    [disabled]="isDisabled || (progressBar$ | async)">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
        <fa-icon [icon]="iconName"></fa-icon>
        <span>{{ text }}</span>
    </div>
</button>