::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

mat-form-field {
    width: 100% !important;
}

mat-card-content {
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    border-radius: 5px;
    min-height: 3rem;
    max-height: 20rem;
    overflow-y: auto;
}

#tasks-list {
    padding: .5rem;
    width: 100%;
}

#header {
    width: 100%;
}

app-task-list {
    width: 100%;
}

#todo-list, #done-list {
    width: 100%;
}

#edit-icon, #save-icon {
    color: #339af0;
    cursor: pointer;
}

#delete-icon {
    color: red;
    cursor: pointer;
}

#cancel-icon {
    color: #673ab7;
    cursor: pointer;
}

#icons {
    gap: 10px;
}

fa-icon:disabled {
    color: black;
    cursor: not-allowed;
}

#update-name-input {
    padding: 0 .5rem;
}