<mat-card class="example-card" fxFlex.gt-sm="30rem">
    <div id="header" fxLayout="row" fxLayoutAlign="space-between center">
        <ng-container *ngIf="!isEditing; else updateName">
            <mat-card-title>{{ project?.name }}</mat-card-title>
        </ng-container>
        <ng-template #updateName>
            <mat-form-field id="update-name-input" class="example-full-width" appearance="outline">
                <mat-label>Project name</mat-label>
                <input type="text" matInput [formControl]="updateNameControl" placeholder="Project name">
            </mat-form-field>
        </ng-template>
        <div fxLayout="row" id="icons">
            <ng-container *ngIf="!isEditing; else saving">
                <fa-icon id="edit-icon" icon="edit" (click)="isEditing = !isEditing"></fa-icon>
            </ng-container>
            <ng-template #saving>
                <fa-icon id="save-icon" icon="save"
                    (click)="updateProjectName()"
                    [disabled]="updateNameControl.invalid"></fa-icon>
                <fa-icon id="cancel-icon" icon="window-close"
                    (click)="isEditing = !isEditing"></fa-icon>
            </ng-template>
            <fa-icon id="delete-icon" icon="trash-alt" (click)="removeProject()"></fa-icon>
        </div>
    </div>
    <mat-card-content>
        <div id="tasks-list" fxLayout="column" fxLayoutAlign="space-around start">
            <ng-container *ngIf="(tasks$ | async) as mappedTasks">
                <div id="todo-list" fxLayout="column" fxLayoutAlign="space-around start" >
                    <h4>
                        To Do:
                    </h4>
                    <app-task-list [tasks]="getToDoTasks(mappedTasks.tasks)"></app-task-list>
                </div>
                <div id="done-list" fxLayout="column" fxLayoutAlign="space-around start">
                    <h4>
                        Done:
                    </h4>
                    <app-task-list [tasks]="getDoneTasks(mappedTasks.tasks)" [closedTasks]="true"></app-task-list>
                </div>
                
            </ng-container>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <mat-form-field id="task-description-input" class="example-full-width" appearance="outline" (keyup.enter)="createNewTask()">
                <mat-label>Task description</mat-label>
                <input type="text" matInput [formControl]="control" placeholder="Task description">
            </mat-form-field>

            <app-iconned-button text="Add"
                buttonColor="primary"
                iconName="plus"
                (buttonClick)="createNewTask()"
                [isDisabled]="!control.value || control.disabled">
            </app-iconned-button>
        </div>
    </mat-card-actions>
</mat-card>