<ng-container *ngIf="(isLogged$ | async)">
  <app-header-toolbar></app-header-toolbar>
</ng-container>
<ng-container *ngIf="(progressBar$ | async)">
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
<div id="app-body">
  <router-outlet></router-outlet>
</div>