<div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="6px">
    <ng-container *ngFor="let task of tasks">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
            <ng-container *ngIf="!closedTasks">
                <mat-checkbox [checked]="shouldShowIcons(task)" (change)="showIcons(task, $event.checked)"></mat-checkbox>
            </ng-container>
            <span>{{ task?.description }}</span>
            <ng-container *ngIf="shouldShowIcons(task) && !closedTasks">
                <fa-icon id="check-icon" icon="check-square" (click)="closeTask(task)"></fa-icon>
                <fa-icon id="delete-icon" icon="trash-alt" (click)="removeTask(task)"></fa-icon>
            </ng-container>
        </div>
    </ng-container>
</div>
