<div id="body" fxLayout="row" fxLayoutAlign="center stretch">
    <ng-container *ngIf="(isLogin$ | async); else signUp">
        <div fxLayout="column" fxLayoutAlign="center center">
            <app-login-card></app-login-card>
        </div>
    </ng-container>
    <ng-template #signUp>
        <div fxLayout="column" fxLayoutAlign="center center">
            <app-sign-up-card></app-sign-up-card>
        </div>
    </ng-template>
</div>
