<mat-card class="example-card" fxFlex.gt-sm="30rem">
    <mat-card-header>
        <mat-card-title>Create a new project</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
            <mat-form-field id="project-name-input" class="example-full-width" appearance="outline">
                <mat-label>Project name</mat-label>
                <input type="text" matInput [formControl]="control" placeholder="Project name" (keyup.enter)="createNewProject()">
                <mat-error *ngIf="!control.hasError('required')">
                    Please enter project name
                </mat-error>
                <mat-error *ngIf="control.hasError('required')">
                    Project name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <app-iconned-button text="Create project"
            buttonColor="primary"
            iconName="file-alt"
            (buttonClick)="createNewProject()"
            [isDisabled]="!control.value || (progressBar$ | async)">
        </app-iconned-button>
    </mat-card-actions>
</mat-card>