<mat-card class="example-card" fxFlex.gt-sm="30rem">
    <mat-card-header>
        <mat-card-title>EDirect Test</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
            <mat-form-field id="email-input" class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="form.get('email')" placeholder="Ex. pat@example.com" (keyup.enter)="loginUser()">
                <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="form.get('email').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field id="password-input" class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="form.get('password')" placeholder="Password" (keyup.enter)="loginUser()">
                <mat-error *ngIf="!form.get('password').hasError('required')">
                    Please enter password
                </mat-error>
                <mat-error *ngIf="form.get('password').hasError('required')">
                    password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div id="buttons" fxLayout="row" fxLayout.sm="row wrap" fxLayoutGap="8px">
            <app-iconned-button text="Login"
                buttonColor="primary"
                iconName="sign-in-alt"
                (buttonClick)="loginUser()"
                [isDisabled]="form.invalid">
            </app-iconned-button>

            <app-iconned-button text="Sign up"
                iconName="user-plus"
                (buttonClick)="setSignUpCard()">
            </app-iconned-button>
        </div>
    </mat-card-actions>
</mat-card>