::ng-deep .mat-card-header-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons {
    gap: 8px;
    padding: 2rem;
}

app-iconned-button {
    width: 100%;
}